body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

/* @media (max-width: 480px) {
  body {
    background-image: url(img/background-mobile.jpg)
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-image: url(img/background-tablet.jpg)
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url(img/background-desktop.jpg)
  }
} */

.App {
  justify-content: center;
}

.rounded-user-img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  align-self: left;
}

.header-user-button {
  position: fixed;
  left: 15px;
  top: 10px;
  padding: 3px;
  border-radius: 50%;
  grid-area: user;
}

.page-title {
  text-align: center;
  font-size: xx-large;
  color: white;
  background-color: #f64725;
  background-size: cover;
  height: 250px;
  line-height: 300px;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #F9E836;
  width: 50vmax;
  z-index: -1;
  animation: move-clockwise 20s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move-clockwise {
  0%   { transform: scale(1)   translate(10px, 30px) rotate(0deg); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(20deg); }
  100% { transform: scale(1)   translate(10px, 30px) rotate(0deg); }
}

.blob2 {
  position: absolute;
  top: 0;
  left: 0;
  fill: #28C278;
  width: 20vmax;
  z-index: -1;
  animation: move-counterclockwise 35s ease-in-out infinite;
  transform-origin: 80% 30%;
}

@keyframes move-counterclockwise {
  0%   { transform: scale(1)   translate(10px, -30px) rotate(0deg); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(-160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(-160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px) rotate(0deg); }
}
