
body {
  font-family: Arial, Helvetica, sans-serif;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

@media (max-width: 480px) {
  body {
    background-image: url(img/background-mobile.jpg)
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-image: url(img/background-tablet.jpg)
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url(img/background-desktop.jpg)
  }
}

.App {
  justify-content: center;
}


.Header {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding-top: 10px;
  padding-bottom: 9px;
  text-align: center;
}

.rounded-user-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  align-self: left;
}

.header-user-button {
  position: fixed;
  left: 15px;
  top: 10px;
  padding: 3px;
  border-radius: 50%;
  grid-area: user;
}

.page-title {
  text-align: center;
  padding-top: 85px;
}