body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fed900;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fefefe' fill-opacity='0.68'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

/* @media (max-width: 480px) {
  body {
    background-image: url(img/background-mobile.jpg)
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-image: url(img/background-tablet.jpg)
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url(img/background-desktop.jpg)
  }
} */

.App {
  justify-content: center;
}

.Header {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding-top: 10px;
  padding-bottom: 9px;
  text-align: center;
}

.rounded-user-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  align-self: left;
}

.header-user-button {
  position: fixed;
  left: 15px;
  top: 10px;
  padding: 3px;
  border-radius: 50%;
  grid-area: user;
}

.page-title {
  text-align: center;
  padding-top: 85px;
}
