/* All reviews ul container */
.list-container {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Individual li Review card */
.list-item {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  height: 450px;
  list-style-type: none;
}

.list-item h3 {
  padding-bottom: 0px;
  font-size: 0.9rem;
}

.list-item p {
  padding-top: 10px;
  font-size: 0.7rem;
}

.list-item h5 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.7rem;
}

/* Loading dummy Review card */
.loading-review-container {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loading-review-card {
  align-content: center;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  height: 450px;
  list-style-type: none;
}

.loading-review-title {
  background-image: linear-gradient(
    90deg,
    #ccc,
    0px,
    rgb(229 229 229 / 90%) 40px,
    #ccc 80px
  );
  background-size: 200%;
  width: 285px;
  height: 30px;
  border-radius: 14px;
  animation: shimmer 1.7s infinite;
}

.loading-review-body {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    #ccc,
    0px,
    rgb(229 229 229 / 90%) 40px,
    #ccc 80px
  );
  background-size: 200%;
  width: 285px;
  height: 360px;
  margin-top: 15px;
  border-radius: 14px;
  animation: shimmer 1.7s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0%;
  }
  to {
    background-position: -100%;
  }
}