/* All reviews ul container */
.list-container {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Individual li Review card */
.list-item {
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border: px solid black;
  border-radius: 12px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap:wrap;
  width: 330px;
  height: 435px;
  list-style-type: none;
}

.list-item h3 {
  width: 100%;
  padding-bottom: 0px;
  font-size: 0.9rem;
}

.liste-item-link:hover {
  text-decoration: underline;
}

.list-item-body {
  position: relative;
  height: 56px;
  padding-top: 3px;
  font-size: smaller;
}

.list-item h5 {
  width: 100%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.7rem;
}

.list-item-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  padding-bottom: 10px;
}

.user-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: "userimg listuser listdate";
  align-items: center;
}

.list-item-avatar {
  object-fit: cover;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid rgb(186, 186, 186);
  grid-area: userimg;
}

.list-item-owner {
  grid-area: listuser;
  padding: 0px;
  font-size: small;
}

/* Loading dummy Review card */
.loading-review-container {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loading-review-card {
  align-content: center;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  height: 450px;
  list-style-type: none;
}

.loading-review-title {
  background-image: linear-gradient(
    90deg,
    #ccc,
    0px,
    rgb(229 229 229 / 90%) 40px,
    #ccc 80px
  );
  background-size: 200%;
  width: 285px;
  height: 30px;
  border-radius: 14px;
  animation: shimmer 1.7s infinite;
}

.loading-review-body {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    #ccc,
    0px,
    rgb(229 229 229 / 90%) 40px,
    #ccc 80px
  );
  background-size: 200%;
  width: 285px;
  height: 360px;
  margin-top: 15px;
  border-radius: 14px;
  animation: shimmer 1.7s infinite;
}

.read-more {
  font-weight: 600;
  text-decoration: underline;
}

@keyframes shimmer {
  0% {
    background-position: 0%;
  }
  to {
    background-position: -100%;
  }
}