@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

:root {
  --mainColor: #032C7F;
}

.main-header{ 
  color: white;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  background-color: #0f3d93;
  color: black;
}

nav {
  margin-left: 3rem;
}

nav a {
  margin: 0 1rem;
  color: lightgray;
  text-decoration: none;
}

nav a:hover {
  color: lightblue;
}

header .nav-btn {
  margin-top: -7px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: white;
    transition: 0.5s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
  }

  nav a{
    font-size: 1.5rem;
  }


}
