.rounded {
    object-fit: cover;
    padding: 3px;
    border-radius: 50%;
    height: 100px;
    width: 50px;
  }
  
  .user-signed-in-msg {
    text-align: center;
    padding-top: 80px;
    font-size: 1.5rem;
  }

  .user-list-container {
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .user-button {
    background: linear-gradient(to right, rgb(255, 119, 0), purple);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
  }
  
  .user-list-item {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-list-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .user-box {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(9, 30, 66, 0.05) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin: 20px;
    padding: 20px;
    padding-top: 25px;
    text-align: center;
    background-color: white;
  }

  .user-box:hover {
    background-color: lightgray;
  }

  .username {
    padding-top: 10px;
    font-weight: 600;
  }