.vote-buttons {
  font-size: smaller;
}

/* VOTE UP */

.vote-up {
  background-color: #ebf4e1;
  border: 1px solid #ebf4e1;
  border-radius: 11px;
  height: 50px;
  color: #578328;
  font-weight: 700;
  text-align: center;
  text-underline-offset: 1px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.vote-up:hover {
  background-color: #e2edd5;
  border-color: #80a258;
  color: #627f41;
}

/* VOTE DOWN */

.vote-down {
  background-color: #ffe7e7;
  border: 1px solid #fee0e0;
  border-radius: 11px;
  height: 50px;
  color: #d33a2c;
  font-weight: 700;
  text-align: center;
  text-underline-offset: 1px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.vote-down:hover {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}

.vote-down:disabled {
  background-color: rgb(234, 234, 234);
  border-color: rgb(234, 234, 234);
  color: rgb(185, 185, 185);
}

.vote-up:disabled {
  background-color: rgb(234, 234, 234);
  border-color: rgb(234, 234, 234);
  color: rgb(185, 185, 185);
}
