.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  justify-content: center;
}


.Header {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: center;
  justify-content: center;
}

.page-title {
  text-align: center;
  padding-top: 85px;
}

.list-container {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-item {
  /* border: 1px solid lightgray; */
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 330px;
  max-height: 500px;
  list-style-type: none;
}

.list-item h3 {
  padding-bottom: 0px;
  font-size: 0.9rem;
}

.list-item p {
  padding-top: 10px;
  font-size: 0.7rem;
}

.list-item h5 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.7rem;
}
